# ArchLinux ISOs, checksums etc.
archlinux-*-x86_64.iso
archlinux-*-x86_64.iso.*

# Anarchy ISOs, checksums etc.
anarchy-*-x86_64.iso
anarchy-*-x86_64.iso.*
sha1sums.txt
log/iso-generator-211019.log
.vscode/settings.json
